.App {
  text-align: center;
}

.routerLink {
  color: black;
  margin: 0 0.8rem;
  position: relative;
  text-decoration: none;
  font-weight: 500;
}

.routerLink:hover {
  color: gray;
}

.section {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid black;
  padding: 5px;
}

table, td, th {
  border: 1px solid black;
}

th {
  background-color: black;
  color: white;
}

table {
  width: 90%;
  border-collapse: collapse;
}

label {
  padding: 5px;
}

input, select {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.numberInput {
  max-width: 100px;
}

.deleteButton, .submitButton, .exitButton, .editButton {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.deleteButton, .editButton {
  background-color: darkred;
  color: white;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 15px;
}

.deleteButton {
  background-color: darkred;
}

.editButton {
  background-color: darkgoldenrod;
}

.submitButton {
  background-color:steelblue;
  color: white;
  width: 70px;
  height: 100%;
  padding: 4px;
  font-size: 14px;
  border-radius: 10px;
  margin: 3px;
}

.exitButton {
  background-color: darkred;
  color: white;
  width: 70px;
  height: 100%;
  padding: 4px;
  font-size: 14px;
  border-radius: 10px;
}

.submitButton:hover, .deleteButton:hover, .exitButton:hover, .editButton:hover {
  background-color: gray;
}